body {
    background-color: black;
    color: white;
}
#description-container {
    border: 5px solid yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#img-container {
width: 200px;
}


img {


    background-size: cover;
    background-position: center;
    width: 100%;
    opacity: 0.7;
    border-radius: 25px;
}