body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16px;
}
#nav-container {
    /* border: 5px solid yellowgreen; */
}


#nav-container ul {
display: flex;
justify-content: center;
align-items: center;
column-gap: 5vw;
font-size: 1.3rem;
}
#nav-container li {
    color: pink;
    list-style-type: none;
    padding: 2vw;
    border-radius: 6px;
    /* border: 2px solid yellowgreen;     */
    cursor: pointer;
}


#description-container {
    border: 5px solid yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: left;
}
#img-container {
width: 100%;
height: auto;


}
#img-container img {

background-size: contain;
    background-position: center;
    width: 100%;
    opacity: 0.7;
    border-radius: 25px;
}
#description-container #text-container {
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
    border: 5px solid yellowgreen;
    font-size: 1.3rem;
}
@media (max-width: 800px) {
    #description-container #text-container {
font-size: 0.7rem;
    }
}
.title-container img {
    border-radius: 50%;    
    }

    #optional-omelette-selection-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

#menu-item-container-1 {
    width: 80vw;
    
}

#menu-item-container-1 .menu-item {
display: flex;

flex-direction: column;
flex-wrap: wrap;
height: 600px;
column-gap: 3%;
}
#menu-item-container-1 .title-container {
    width: 45%;
height: 100px;    
flex: 0 0 0;
box-sizing: border-box;


}

#menu-item-container-1 .content-wrapper {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
flex: 0;
height: 100px;

} 



